// Base font size and line height
$base-font-size:   15px;
$base-line-height: 24px;
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;

// Set <h> 
$h1-font-size: 2    * $base-font-size;
$h2-font-size: 0.933  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.75 * $base-font-size;

// Fonts.
$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times:           Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$georgia:         Georgia, "Times New Roman", "DejaVu Serif", serif;

$verdana:         Verdana, Tahoma, "DejaVu Sans", sans-serif;
$tahoma:          Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica:       Helvetica, Arial, "Nimbus Sans L", sans-serif;
$arial:           Arial, Helvetica, "Nimbus Sans L", sans-serif;

@font-face {
    font-family: 'open_sansbold';
    src: url('/sites/all/themes/blackandwhite/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot');
    src: url('/sites/all/themes/blackandwhite/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sites/all/themes/blackandwhite/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.woff') format('woff'),
         url('/sites/all/themes/blackandwhite/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('/sites/all/themes/blackandwhite/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


// The font family
$base-font-family: 'open_sansbold', $arial; 
$font-body:        'open_sansbold', $arial;
$font-monospace:   'open_sansbold', $arial;


// Colors vars
$link-color: rgb(255, 255, 255);

// The amount lists, blockquotes and comments are indented.
$indent-amount: 30px;


// Partials to be shared with all .scss files.
@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix"; // Better than Drupal's clearfix.
@import "compass/utilities/sprites"; // See http://compass-style.org/help/tutorials/spriting/
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/typography/vertical_rhythm"; // Helps set up a vertical rhythm.