
// Header Styles
div#name-and-slogan {
  text-transform: uppercase;
  text-align: left;
  font-size: 14px;
  position: absolute;
  top: 75px;
  left: 200px;
  z-index: 10;
}

// Header menu styles
div#block-nice-menus-1 {
  position: absolute;
  right: 100px;
  z-index: 5;
  top: 75px;
  width: 82.5%;
  .content {
    float: right;
    ul.nice-menu {
      li.menuparent > a:after {
        content: url('/sites/all/themes/blackandwhite/images/menu-arrow-down.png');
        margin-left: 10px;
      }
      ul {
        top: 2.8em;
        left: -1px;
        border: 0;
        margin-right: 0;
        border-top: transparent;
      }
      & > li.menuparent {
        background: transparent;
        ul {
          li {
            border: 0px;
            border-top: 0;
            background-color: transparent;
            a {
              padding: 0px 16px 10px 10px;
              color: white;
            }
          }
        }
      }
      & > li {
        display: inline-block;
        background-color: transparent;
        border: 0px;
        padding-right: 28px;
        & > a {
          padding: 0px 10px 16px 10px;
          color: white;
          font-size: 14px;
          line-height: 1.429;
          text-align: right;

          &.active {
            background-color: transparent;
            border-bottom: solid 2px;
            border-bottom-color: rgb(183, 200, 217);
            color: white;
          }
        }
      }
    }
  }
  h1#site-name {
    margin: 3px 0px 0px 0px;
    line-height: normal;
    font-size: inherit;
    a {
      padding: 0px 10px 16px 0px;
    }
  }
  @include mobile {
    position: relative;
    right: 0px;
    z-index: 5;
    width: 100%;
    background: white;
    margin-bottom: 0px;
    margin-top: -9px;
    h1#site-name {
      display: none;
    }
    .content {
      float: none;
      display: block;
      ul#nice-menu-1 {
        width: 85%;
        float: none;
        margin: 0 auto;
        position: relative;

        & > li {
          padding: 0px 10px;
          & > a.active {
            color: black;
          }
          a {
            padding: 0px 0px 10px 0px;
            color: black;
            font-size: 14px;
            line-height: 1.429;
            text-align: right;
          }
        } 
      }
    }
  }
}

// Block Slider
.block-views-homepage-slider-block {
  @include mobile { 
    div#block-views-homepage-slider-block {
      margin-bottom: -35px;
    }
  }
}

// Block view slider
.view-homepage-slider {
  position:relative;
  .view-content {
    .views-slideshow-controls-top {
      position: absolute;
      z-index: 5;
      width: 100%;
      top: 45%;
      div#views_slideshow_controls_text_homepage_slider-block {
        margin: 0 auto;
        position: relative;
        width: 80%;
        span#views_slideshow_controls_text_previous_homepage_slider-block {
          float: left;
          a {
            display: inline-block;
            width: 32px;
            height: 32px;
            margin-right: 5px;
            content: url('');
            background: url("/sites/all/themes/blackandwhite/images/previousArrow.png") no-repeat 0 0;
            background-size: 100%;
            z-index: 5;
          }
        }
        span#views_slideshow_controls_text_pause_homepage_slider-block {
          display: none;
        }
        span#views_slideshow_controls_text_next_homepage_slider-block {
          float: right;
          a {
            display: inline-block;
            width: 32px;
            height: 32px;
            margin-right: 5px;
            content: url('');
            background: url("/sites/all/themes/blackandwhite/images/nextArrow.png") no-repeat 0 0;
            background-size: 100%;
            z-index: 5;
          }
        }
      }
    }
    .views-slideshow-cycle-main-frame-row, .views-slideshow-cycle-main-frame {
      width: 100%;

    }
    #views_slideshow_cycle_main_homepage_slider-block {
      .views-field.views-field-title {
        position: absolute;
        text-align: center;
        top: 44%;
        width: 100%;
        font-size: 2.5em;
        letter-spacing: 10px;
        text-transform: uppercase;
      }
      .views-field-field-subtitle {
        position: absolute;
        color: white;
        text-align: center;
        top: 51%;
        width: 100%;
        font-size: 0.7em;
      }
      .views-field.views-field-nothing {
        position: absolute;
        width: 100%;
        z-index: 5;
        text-align: center;
        bottom: 20%;
        span.field-content {
          border-style: solid;
          padding: 20px 60px 20px 60px;
          border-width: 2px;
          border-color: white;
          background-color: rgba(0,0,0,0.502);
          text-align: center;
          a {
            font-size: 14px;
            line-height: 1.429;
            text-align: justifyLeft;
          }
        }
      }
      .views-field-field-slider-image .field-content img {
        width: 100%;
      }
    }
  }
  @include desktop {

  }
  @include tablet {

  }
  @include mobile-wide {

  }
  @include mobile {
    margin-bottom: -35px;
    position: relative;
    width: 100%;
    z-index: 5;
    text-align: center;
    bottom: 20%;
    .view-content {
      .views-slideshow-controls-top {
        position: absolute;
        z-index: 5;
        width: 100%;
        top: 42%;
        div#views_slideshow_controls_text_homepage_slider-block {
          margin: 0 auto;
          position: relative;
          width: 100%;
          span#views_slideshow_controls_text_next_homepage_slider-block a, 
          span#views_slideshow_controls_text_previous_homepage_slider-block a{
            width: 25px;
            height: 25px;
            margin-right: 0px;
          }
        }
      }
      #views_slideshow_cycle_main_homepage_slider-block {
        span.field-content {
          padding: 10px 10px 10px 10px;
          a {
            font-size: 12px;
            line-height: 1.429;
            text-align: justifyLeft;
          }
        }
        .views-field.views-field-title {
          position: absolute;
          text-align: center;
          top: 10%;
          width: 100%;
          font-size: 1em;
          letter-spacing: 10px;
          text-transform: uppercase;
        }
        .views-field-field-subtitle {
          position: absolute;
          color: white;
          text-align: center;
          top: 40%;
          width: 100%;
          font-size: 12px;
        }
        .views-field.views-field-nothing {
          position: absolute;
          width: 100%;
          z-index: 5;
          text-align: center;
          bottom: 10%;
          span.field-content {
            border-style: solid;
            padding: 0px 5px 2px 5px;
            border-width: 2px;
            border-color: white;
            background-color: rgba(0,0,0,0.502);
            text-align: center;
            a {
              font-size: 8px;
              line-height: 1.429;
              text-align: justifyLeft;
            }
          }
        }
      }
    }
  }
}

// Content
#main-wrapper #main div#content {
  margin-right: auto;
  margin-left: auto;

  .section .region-content {
    div#block-block-1 {
      padding-top: 145px;
      padding-bottom: 145px;
      height: 80px;
      background-color: white;
      margin: 0px;
      .content {
        div#homepage-first-block-title {
          float: left;
          width: 35%;
          margin-left: 100px;
          word-spacing: 3px;
          font-size: 24px;

          color: #252525;
          line-height: 1.5;
        }
        div#homepage-first-block-text {
          float: right;
          width: 44%;
          margin-right: 55px;
          font-size: 14px;
          color: black;
          line-height: 1.429;
        }
      }
      @include desktop {

      }
      @include tablet {

      }
      @include mobile-wide {

      }
      @include mobile {
        height: auto;
        background-color: white;
        padding: 100px 20px 50px 20px;
        .content {
          div#homepage-first-block-title {
            float: none;
            width: 100%;
            padding: 10px;
            word-spacing: 3px;
            font-size: 15px;
            margin-left: 0px;
            color: #252525;
            line-height: 1.5;
          }
          div#homepage-first-block-text {
            float: none;
            width: 100%;
            margin-right: 0px;
            font-size: 14px;
            padding: 10px;
            color: black;
            line-height: 1.429;
          }
        }
      }
    }
  }
}

// Homepage featured articles block view
div.homepage-featured-articles-block-view {
  margin: 0 auto;
  .view-homepage-featured-articles {
    margin: 0 auto;
    .view-header {
      padding-top: 152px;
      padding-bottom: 109px;
      text-align: center; 
      p {
        font-size: 24px;

        color: rgb(37, 37, 37);
        line-height: 0.708;
        span {
          color: #252525;
          font-weight: 700;
        }
      }
    }  
    .views-row {
      position: relative;
      .views-field-nothing {
        background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.5) 57%, rgba(0,0,0,0) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.5) 57%, rgba(0,0,0,0) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.5) 57%, rgba(0,0,0,0) 100%);
        opacity: 0.502;
        position: absolute;
        left: 0px;
        top: 190px;
        width: 100%;
        height: 110px;
        z-index: 96;
      }
      span.field-content {
        font-size: 19.205px;
        font-family: "OpenSans";
        color: rgb(255, 255, 255);
        -moz-transform: matrix( 0.93682939914163,0,0,0.93726726455658,0,0);
        -webkit-transform: matrix( 0.93682939914163,0,0,0.93726726455658,0,0);
        -ms-transform: matrix( 0.93682939914163,0,0,0.93726726455658,0,0);
        position: absolute;
        left: 35px;
        bottom: 30px;
        z-index: 97;
      }
      .views-field.views-field-field-likes {
        position: absolute;
        top: 20px;
        right: 20px;
        .field-content {
          border-style: solid;
          padding: 10px 40px 10px 15px;
          border-width: 2px;
          color: white;
          border-color: white;
          background-color: rgba(0,0,0,0.502);
          text-align: center;
          &:after {
            content: url("/sites/all/themes/blackandwhite/images/like-heart.png");
            position: absolute;
            right: 15px;
            top: 15px;
          }
        }
      }
      .views-field-field-image img {
        width: 100%;
        height: 300px;
      }
      &.views-row-odd.views-row-first {
        float: left;
        width: 770px;
        height: 300px;
        .views-field-created,
        .views-field-body {
          display: none;
        }
      }
      &.views-row-2.views-row-even {
        float: right;
        width: 370px;
        height: 300px;
        .views-field-created,
        .views-field-body {
          display: none;
        }
      }
      &.views-row-3.views-row-odd {
        float: left;
        width: 370px;
        height: 300px;
        margin-top: 30px;
        margin-bottom: 90px;
        .views-field.views-field-field-image {
          position: absolute;
          z-index: -5;
          .field-content {
            position: relative;
            img {
              width: 100%;
              height: 300px;
              width: 100%;
              vertical-align: top;
            }
            &:after {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background: black;
              opacity: 0.7;
              transition: all 1s;
              -webkit-transition: all 1s;
            }
          }
        }
        .views-field.views-field-body {
          width: 100%;
          text-align: center;
          top: 53px;
          position: relative;
          color: white;
          padding-bottom: 25px;
          .field-content {
            font-size: 14px;
            color: rgb(255, 255, 255);
            line-height: 1.214;
            text-align: center;
            margin-top: 15px;
          }
          &:before {
            content: url('/sites/all/themes/blackandwhite/images/profile.png');
          }
        }
        .views-field-created {
          position: absolute;
          width: 100%;
          height: 68px;
          bottom: 0px;
          border-top: 2px solid gray;
          .field-content {
            font-size: 14px;
            color: rgb(255, 255, 255);
            line-height: 1.214;
            text-align: center;
            margin-top: 15px;
          }
        }
        .views-field.views-field-nothing {
          display: none;
        }
      } 
      &.views-row-4.views-row-even.views-row-last {
        float: right;
        width: 770px;
        height: 300px;
        margin-top: 30px;
        margin-bottom: 90px;
        .views-field-created,
        .views-field-body {
          display: none;
        }
      }
    }
    @include desktop {
      width: 1170px;

    }
    @include tablet {
      width: 740px;
    }
    @include mobile-wide {
      width: 540px;
    }
    @include mobile {
      width: 380px;
      .view-header {
        padding-top: 100px;
        padding-bottom: 70px;
        text-align: center;
      }
      .views-row.views-row-odd.views-row-first {
        float: none;
        width: 100%;
        height: 300px;
        margin-bottom: 50px;
      }
      .views-row.views-row-2.views-row-even {
        float: none;
        width: 100%;
        height: 300px;
      }
      .views-row.views-row-3.views-row-odd {
        float: none;
        width: 100%;
        height: 300px;
        margin-top: 50px;
        margin-bottom: 50px;
        .views-field.views-field-body {
          width: 100%;
          text-align: center;
          top: 53px;
          position: absolute;
          color: white;
          padding-bottom: 25px;
        }
        .views-field.views-field-field-image {
          position: relative;
          z-index: -5;
        }
      } 
      .views-row.views-row-4.views-row-even.views-row-last {
        float: none;
        width: 100%;
        height: 300px;
        margin-top: 0px;
        margin-bottom: 50px;
      }
    }
  }
}

// Homepage Form
div#block-blackandwhite-core-home-page-news-block {
  position: relative;
  clear: both;
  background-color: white;
  padding-left: 0px;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-bottom: 0px;
  .content {
    #blackandwhite-core-form {
      div.form-item {
        display: inline-block;
        margin: 0px;
        input#edit-mail {
          width: 430px;
          padding-top: 25px;
          padding-left: 30px;
          padding: 25px 0px 25px 30px;
          font-size: 14px;
          color: rgb(0, 0, 0);
          line-height: 1.429;
          text-align: left;
        }
      }
      #edit-first-description {
        margin-right: 55px;
        .newsletter-description {
          font-size: 24px;
          color: rgb(37, 37, 37);
          line-height: 0.708;
          span {
            font-weight: bold;
          }
        }
      }
      input#edit-submit {
        background-color: rgb(52, 54, 56);
        font-size: 14px;
        color: rgb(255, 255, 255);
        line-height: 1.429;
        text-align: left;
        padding: 23px 53px 23px 53px;
      }
    }
  }
  @include desktop {
    width: 1170px;
    margin: 0 auto;
    form#blackandwhite-core-form {
      margin: 0 auto;
      width: 90%;
      .content #blackandwhite-core-form div.form-item input#edit-mail {
        width: 380px;
        padding-top: 25px;
        padding-left: 30px;
        padding: 25px 0px 25px 30px;
        font-size: 14px;
        color: black;
        line-height: 1.429;
        text-align: left;
      }
    }
  }
  @include tablet {
    width: 740px;
  }
  @include mobile-wide {
    width: 540px;
  }
  @include mobile {
    width: 380px;
    margin-top: 0px;
    position: relative;
    clear: both;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0px;
    .content #blackandwhite-core-form {
      div.form-item {
        display: block;
        position: relative;
        input#edit-mail {
          width: 93%;
          padding: 25px 0px 25px 30px;
          font-size: 14px;
          color: black;
          text-align: center;
          position: relative;
          display: block;
        }
      }
      #edit-first-description {
        margin-right: 0px;
        margin-bottom: 50px;
        text-align: center;
      }
      input#edit-submit {
        background-color: #343638;
        font-size: 14px;
        color: white;
        line-height: 1.429;
        text-align: center;
        padding: 23px 53px 23px 53px;
        width: 100%;
        margin-top: 20px;
      }
    } 
  }
}


// Footer Styles
div#footer {
  background-color:white;
  .region.region-footer {
    position: relative;
  }
  // Footer Section responsive container
  .section {
    margin: 0 auto;
    margin-top: 180px;
    background-color:white;
    @include desktop {
      width: 1170px;
    }
    @include tablet {
      width: 740px;
    }
    @include mobile-wide {
      width: 540px;
    }
    @include mobile {
      width: 380px;
      margin-top: 0px;
    }
  }
  // Footer information blocks
  .footer-information-blocks {
    padding-top: 145px;
    height: 200px;
    border-bottom: 1px solid rgb(240, 240, 240);
    width: 75%;
    float: left;
    padding-bottom: 130px;
    .content {
      div {
        float: left;
        width: 185px;
        padding-right: 15px;
        p {
          margin: 0px;
          font-size: 14px;

          color: rgb(158, 158, 158);
          line-height: 1.549;
          text-align: left;
        }
        p.blocks-title {
          font-size: 22px;
          color: black;
          text-align: left;
          margin: 0;
          text-align: left;
          margin-bottom: 30px;
        }
        &#blackandwhite-chunk {
          margin-right: 100px;
        }
        &#contact-chunk {
          margin-right: 100px;
          a {
            color: #9e9e9e;
          }
        }
      }
    }
    @include desktop {

    }
    @include tablet {

    }
    @include mobile-wide {

    }
    @include mobile {
      padding-top: 50px;
      height: auto;
      border-bottom: 1px solid #f0f0f0;
      width: 100%;
      float: none;
      padding-bottom: 50px;
      .content div {
        float: none;
        width: 100%;
        padding-right: 15px;
        margin-bottom: 50px;
        p.blocks-title {
          text-align: center;
        }
      }
    }
  }
  // Footer Newsletter mini form
  #block-blackandwhite-core-home-page-news-mini-block {
    width: 25%;
    float: right;
    padding-top: 145px;
    height: 200px;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 130px;
    .content {
      #edit-first-description--2 {
        margin: 0px;
        .newsletter-description {
          margin: 0px;
          font-size: 14px;

          color: rgb(158, 158, 158);
          line-height: 1.549;
          text-align: left;
          span {
            font-size: 22px;
            color: black;
            text-align: left;
            margin: 0;
            text-align: left;
            margin-bottom: 30px;
            display: block;
          }
        } 
      }
      .form-item.form-type-textfield.form-item-ea {
        margin-top: 30px;
        width: 170px;
      }
      div.form-item {
        display: inline-block;
        margin: 0px;
        input#edit-mail {
          background-color: #f3f3f3;
          width: 170px;
          height: 50px;
          padding: 0px 0px 0px 20px;
          line-height: 1.429;
          font-size: 14px;
          color: #9e9e9e;
          font-style: italic;
          text-align: left;
        }
      }
      #edit-first-description {
        margin-right: 55px;
        .newsletter-description {
          font-size: 24px;
          color: rgb(37, 37, 37);
          line-height: 0.708;
          span {
            font-weight: bold;
            display: block;
          }
        }
      }
      input#edit-submit--2 {
        background-color: #343638;
        font-size: 14px;
        color: white;
        width: 100px;
        height: 60px;
        text-align: left;
        padding: 17px;
        float: right;
        margin-top: 27px;
        -moz-transform: matrix(0.92233,0,0,0.92238,0,0);
        -webkit-transform: matrix(0.92233,0,0,0.92238,0,0);
        -ms-transform: matrix(0.92233,0,0,0.92238,0,0);
      }
    }
    @include desktop {

    }
    @include tablet {

    }
    @include mobile-wide {

    }
    @include mobile {
      width: 100%;
      margin: 0 auto;
      float: none;
      padding-top: 50px;
      height: auto;
      border-bottom: 1px solid #f0f0f0;
      padding-bottom: 50px;
    }
  }
  // Footer Copyrights
  div.footer-copy-rights {
    position: absolute;
    float: left;
    bottom: 5px;
    @include desktop {

    }
    @include tablet {

    }
    @include mobile-wide {

    }
    @include mobile {
      display: none;
    }
  }
  // Footer menu
  div#block-nice-menus-2 {
    clear: both;
    height: 80px;
    .content {
      ul#nice-menu-2 {
        float: right;
        li {
          background-color: transparent;
          border: 0;
          a {
            padding: 30px 0px 0px 30px;
            color: black;
          }
        } 
      }
    }
  }
  @include desktop {

  }
  @include tablet {

  }
  @include mobile-wide {

  }
  @include mobile {
    .content {
      ul#nice-menu-2 {
        float: none;
      }
    }
  }
}  
