// Media queries definition
// --------------------------------------------------

//Viewport sizes
$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-wide: 625px;
$mobile: 445px;

//Mixin for tablets
@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin mobile-wide {
    @media (min-width: #{$mobile}) and (max-width: #{$mobile-wide - 1px}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}