@font-face {
  font-family: 'open_sansbold';
  src: url("/sites/all/themes/blackandwhite/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot");
  src: url("/sites/all/themes/blackandwhite/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/blackandwhite/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.woff") format("woff"), url("/sites/all/themes/blackandwhite/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.ttf") format("truetype"), url("/sites/all/themes/blackandwhite/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   Normalize.css is intended to be used as an alternative to CSS resets.

   It is suggested that you read through the normalize.css file and customise it
   to meet the design requirements of a project rather including it as a "black
   box". @see http://nicolasgallagher.com/about-normalize-css/

   Also: @see http://meiert.com/en/blog/20080419/reset-style-sheets-are-bad/
         @see http://snook.ca/archives/html_and_css/no_css_reset/
   ========================================================================== */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 23, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 42, ../sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
/* line 57, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 67, ../sass/_normalize.scss */
[hidden] {
  display: none;
}

/* line 71, ../sass/_normalize.scss */
html {
  font-size: 93.75%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  /* Establishes a vertical rhythm unit using $base-line-height. */
  line-height: 1.6em;
}

/* line 79, ../sass/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: "open_sansbold", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

/* line 87, ../sass/_normalize.scss */
body {
  margin: 0;
  background-color: #f3f3f3;
}

/* line 92, ../sass/_normalize.scss */
a:link {
  color: white;
  text-decoration: none;
}

/* line 97, ../sass/_normalize.scss */
a:visited {
  color: white;
}

/* line 101, ../sass/_normalize.scss */
a:hover,
a:focus {
  color: white;
}

/* line 106, ../sass/_normalize.scss */
a:active {
  color: white;
}

/* line 110, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 114, ../sass/_normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 119, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  line-height: 1.6em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

/* line 125, ../sass/_normalize.scss */
h2 {
  font-size: 0.933em;
  line-height: 1.7149em;
  margin-top: 1.7149em;
  margin-bottom: 1.7149em;
}

/* line 131, ../sass/_normalize.scss */
h3 {
  font-size: 1.17em;
  line-height: 1.36752em;
  margin-top: 1.36752em;
  margin-bottom: 1.36752em;
}

/* line 137, ../sass/_normalize.scss */
h4 {
  font-size: 1em;
  line-height: 1.6em;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}

/* line 143, ../sass/_normalize.scss */
h5 {
  font-size: 0.83em;
  line-height: 1.92771em;
  margin-top: 1.92771em;
  margin-bottom: 1.92771em;
}

/* line 149, ../sass/_normalize.scss */
h6 {
  font-size: 0.75em;
  line-height: 2.13333em;
  margin-top: 2.13333em;
  margin-bottom: 2.13333em;
}

/* line 155, ../sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 160, ../sass/_normalize.scss */
blockquote {
  color: white;
  font-family: "open_sansbold", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 17px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 170, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 178, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 183, ../sass/_normalize.scss */
p,
pre {
  margin: 0 0 1.6em 0;
}

/* line 188, ../sass/_normalize.scss */
pre,
code,
kbd,
samp,
tt,
var {
  font-family: "open_sansbold", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  /* The $font-monospace value ends with ", serif". */
  font-size: 1em;
  line-height: 1.6em;
}

/* line 201, ../sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 207, ../sass/_normalize.scss */
q {
  quotes: none;
}

/* line 211, ../sass/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 217, ../sass/_normalize.scss */
small {
  font-size: 75%;
}

/* line 221, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 229, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 233, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 237, ../sass/_normalize.scss */
dl,
menu,
ol,
ul,
.item-list ul {
  margin: 1.6em 0;
}

/* line 245, ../sass/_normalize.scss */
.item-list ul li {
  margin: 0;
}

/* line 249, ../sass/_normalize.scss */
dd {
  margin: 0 0 0 30px;
}

/* line 254, ../sass/_normalize.scss */
ul ul, ul ol, ol ul, ol ol, .item-list ul ul, .item-list ul ol, .item-list ol ul, .item-list ol ol {
  margin: 0;
}

/* line 259, ../sass/_normalize.scss */
menu,
ol,
ul,
.item-list ul {
  padding: 0 0 0 30px;
  /* LTR */
}

/* line 266, ../sass/_normalize.scss */
ul {
  padding: 0;
  margin: 0;
}

/* line 271, ../sass/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 277, ../sass/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto;
}

/* line 284, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 288, ../sass/_normalize.scss */
figure {
  margin: 0;
}

/* line 292, ../sass/_normalize.scss */
form {
  margin: 0;
}

/* line 296, ../sass/_normalize.scss */
fieldset {
  border-color: #c0c0c0;
  margin: 0 2px;
  border-top-width: 0.06667em;
  border-top-style: solid;
  padding-top: 0.49333em;
  border-bottom-width: 0.06667em;
  border-bottom-style: solid;
  padding-bottom: 0.97333em;
  border-left-width: 0.06667em;
  border-left-style: solid;
  padding-left: 0.97333em;
  border-right-width: 0.06667em;
  border-right-style: solid;
  padding-right: 0.97333em;
}

/* line 305, ../sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
}

/* line 314, ../sass/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
}

/* line 326, ../sass/_normalize.scss */
button,
input {
  line-height: normal;
  /* 1 */
}

/* line 331, ../sass/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
}

/* line 342, ../sass/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 347, ../sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* line 357, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
}

/* line 362, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 367, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 373, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* line 378, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}

/* line 385, ../sass/_normalize.scss */
th {
  text-align: left;
  /* LTR */
  padding: 0;
  border-bottom: none;
}

/* line 391, ../sass/_normalize.scss */
tbody {
  border-top: none;
}

/* line 3, ../sass/_desktop.scss */
div#name-and-slogan {
  text-transform: uppercase;
  text-align: left;
  font-size: 14px;
  position: absolute;
  top: 75px;
  left: 200px;
  z-index: 10;
}

/* line 14, ../sass/_desktop.scss */
div#block-nice-menus-1 {
  position: absolute;
  right: 100px;
  z-index: 5;
  top: 75px;
  width: 82.5%;
}
/* line 20, ../sass/_desktop.scss */
div#block-nice-menus-1 .content {
  float: right;
}
/* line 23, ../sass/_desktop.scss */
div#block-nice-menus-1 .content ul.nice-menu li.menuparent > a:after {
  content: url("/sites/all/themes/blackandwhite/images/menu-arrow-down.png");
  margin-left: 10px;
}
/* line 27, ../sass/_desktop.scss */
div#block-nice-menus-1 .content ul.nice-menu ul {
  top: 2.8em;
  left: -1px;
  border: 0;
  margin-right: 0;
  border-top: transparent;
}
/* line 34, ../sass/_desktop.scss */
div#block-nice-menus-1 .content ul.nice-menu > li.menuparent {
  background: transparent;
}
/* line 37, ../sass/_desktop.scss */
div#block-nice-menus-1 .content ul.nice-menu > li.menuparent ul li {
  border: 0px;
  border-top: 0;
  background-color: transparent;
}
/* line 41, ../sass/_desktop.scss */
div#block-nice-menus-1 .content ul.nice-menu > li.menuparent ul li a {
  padding: 0px 16px 10px 10px;
  color: white;
}
/* line 48, ../sass/_desktop.scss */
div#block-nice-menus-1 .content ul.nice-menu > li {
  display: inline-block;
  background-color: transparent;
  border: 0px;
  padding-right: 28px;
}
/* line 53, ../sass/_desktop.scss */
div#block-nice-menus-1 .content ul.nice-menu > li > a {
  padding: 0px 10px 16px 10px;
  color: white;
  font-size: 14px;
  line-height: 1.429;
  text-align: right;
}
/* line 60, ../sass/_desktop.scss */
div#block-nice-menus-1 .content ul.nice-menu > li > a.active {
  background-color: transparent;
  border-bottom: solid 2px;
  border-bottom-color: #b7c8d9;
  color: white;
}
/* line 70, ../sass/_desktop.scss */
div#block-nice-menus-1 h1#site-name {
  margin: 3px 0px 0px 0px;
  line-height: normal;
  font-size: inherit;
}
/* line 74, ../sass/_desktop.scss */
div#block-nice-menus-1 h1#site-name a {
  padding: 0px 10px 16px 0px;
}
@media (max-width: 445px) {
  /* line 14, ../sass/_desktop.scss */
  div#block-nice-menus-1 {
    position: relative;
    right: 0px;
    z-index: 5;
    width: 100%;
    background: white;
    margin-bottom: 0px;
    margin-top: -9px;
  }
  /* line 86, ../sass/_desktop.scss */
  div#block-nice-menus-1 h1#site-name {
    display: none;
  }
  /* line 89, ../sass/_desktop.scss */
  div#block-nice-menus-1 .content {
    float: none;
    display: block;
  }
  /* line 92, ../sass/_desktop.scss */
  div#block-nice-menus-1 .content ul#nice-menu-1 {
    width: 85%;
    float: none;
    margin: 0 auto;
    position: relative;
  }
  /* line 98, ../sass/_desktop.scss */
  div#block-nice-menus-1 .content ul#nice-menu-1 > li {
    padding: 0px 10px;
  }
  /* line 100, ../sass/_desktop.scss */
  div#block-nice-menus-1 .content ul#nice-menu-1 > li > a.active {
    color: black;
  }
  /* line 103, ../sass/_desktop.scss */
  div#block-nice-menus-1 .content ul#nice-menu-1 > li a {
    padding: 0px 0px 10px 0px;
    color: black;
    font-size: 14px;
    line-height: 1.429;
    text-align: right;
  }
}

@media (max-width: 445px) {
  /* line 119, ../sass/_desktop.scss */
  .block-views-homepage-slider-block div#block-views-homepage-slider-block {
    margin-bottom: -35px;
  }
}

/* line 126, ../sass/_desktop.scss */
.view-homepage-slider {
  position: relative;
}
/* line 129, ../sass/_desktop.scss */
.view-homepage-slider .view-content .views-slideshow-controls-top {
  position: absolute;
  z-index: 5;
  width: 100%;
  top: 45%;
}
/* line 134, ../sass/_desktop.scss */
.view-homepage-slider .view-content .views-slideshow-controls-top div#views_slideshow_controls_text_homepage_slider-block {
  margin: 0 auto;
  position: relative;
  width: 80%;
}
/* line 138, ../sass/_desktop.scss */
.view-homepage-slider .view-content .views-slideshow-controls-top div#views_slideshow_controls_text_homepage_slider-block span#views_slideshow_controls_text_previous_homepage_slider-block {
  float: left;
}
/* line 140, ../sass/_desktop.scss */
.view-homepage-slider .view-content .views-slideshow-controls-top div#views_slideshow_controls_text_homepage_slider-block span#views_slideshow_controls_text_previous_homepage_slider-block a {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  content: url("");
  background: url("/sites/all/themes/blackandwhite/images/previousArrow.png") no-repeat 0 0;
  background-size: 100%;
  z-index: 5;
}
/* line 151, ../sass/_desktop.scss */
.view-homepage-slider .view-content .views-slideshow-controls-top div#views_slideshow_controls_text_homepage_slider-block span#views_slideshow_controls_text_pause_homepage_slider-block {
  display: none;
}
/* line 154, ../sass/_desktop.scss */
.view-homepage-slider .view-content .views-slideshow-controls-top div#views_slideshow_controls_text_homepage_slider-block span#views_slideshow_controls_text_next_homepage_slider-block {
  float: right;
}
/* line 156, ../sass/_desktop.scss */
.view-homepage-slider .view-content .views-slideshow-controls-top div#views_slideshow_controls_text_homepage_slider-block span#views_slideshow_controls_text_next_homepage_slider-block a {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  content: url("");
  background: url("/sites/all/themes/blackandwhite/images/nextArrow.png") no-repeat 0 0;
  background-size: 100%;
  z-index: 5;
}
/* line 169, ../sass/_desktop.scss */
.view-homepage-slider .view-content .views-slideshow-cycle-main-frame-row, .view-homepage-slider .view-content .views-slideshow-cycle-main-frame {
  width: 100%;
}
/* line 174, ../sass/_desktop.scss */
.view-homepage-slider .view-content #views_slideshow_cycle_main_homepage_slider-block .views-field.views-field-title {
  position: absolute;
  text-align: center;
  top: 44%;
  width: 100%;
  font-size: 2.5em;
  letter-spacing: 10px;
  text-transform: uppercase;
}
/* line 183, ../sass/_desktop.scss */
.view-homepage-slider .view-content #views_slideshow_cycle_main_homepage_slider-block .views-field-field-subtitle {
  position: absolute;
  color: white;
  text-align: center;
  top: 51%;
  width: 100%;
  font-size: 0.7em;
}
/* line 191, ../sass/_desktop.scss */
.view-homepage-slider .view-content #views_slideshow_cycle_main_homepage_slider-block .views-field.views-field-nothing {
  position: absolute;
  width: 100%;
  z-index: 5;
  text-align: center;
  bottom: 20%;
}
/* line 197, ../sass/_desktop.scss */
.view-homepage-slider .view-content #views_slideshow_cycle_main_homepage_slider-block .views-field.views-field-nothing span.field-content {
  border-style: solid;
  padding: 20px 60px 20px 60px;
  border-width: 2px;
  border-color: white;
  background-color: rgba(0, 0, 0, 0.502);
  text-align: center;
}
/* line 204, ../sass/_desktop.scss */
.view-homepage-slider .view-content #views_slideshow_cycle_main_homepage_slider-block .views-field.views-field-nothing span.field-content a {
  font-size: 14px;
  line-height: 1.429;
  text-align: justifyLeft;
}
/* line 211, ../sass/_desktop.scss */
.view-homepage-slider .view-content #views_slideshow_cycle_main_homepage_slider-block .views-field-field-slider-image .field-content img {
  width: 100%;
}
@media (max-width: 445px) {
  /* line 126, ../sass/_desktop.scss */
  .view-homepage-slider {
    margin-bottom: -35px;
    position: relative;
    width: 100%;
    z-index: 5;
    text-align: center;
    bottom: 20%;
  }
  /* line 233, ../sass/_desktop.scss */
  .view-homepage-slider .view-content .views-slideshow-controls-top {
    position: absolute;
    z-index: 5;
    width: 100%;
    top: 42%;
  }
  /* line 238, ../sass/_desktop.scss */
  .view-homepage-slider .view-content .views-slideshow-controls-top div#views_slideshow_controls_text_homepage_slider-block {
    margin: 0 auto;
    position: relative;
    width: 100%;
  }
  /* line 242, ../sass/_desktop.scss */
  .view-homepage-slider .view-content .views-slideshow-controls-top div#views_slideshow_controls_text_homepage_slider-block span#views_slideshow_controls_text_next_homepage_slider-block a,
  .view-homepage-slider .view-content .views-slideshow-controls-top div#views_slideshow_controls_text_homepage_slider-block span#views_slideshow_controls_text_previous_homepage_slider-block a {
    width: 25px;
    height: 25px;
    margin-right: 0px;
  }
  /* line 251, ../sass/_desktop.scss */
  .view-homepage-slider .view-content #views_slideshow_cycle_main_homepage_slider-block span.field-content {
    padding: 10px 10px 10px 10px;
  }
  /* line 253, ../sass/_desktop.scss */
  .view-homepage-slider .view-content #views_slideshow_cycle_main_homepage_slider-block span.field-content a {
    font-size: 12px;
    line-height: 1.429;
    text-align: justifyLeft;
  }
  /* line 259, ../sass/_desktop.scss */
  .view-homepage-slider .view-content #views_slideshow_cycle_main_homepage_slider-block .views-field.views-field-title {
    position: absolute;
    text-align: center;
    top: 10%;
    width: 100%;
    font-size: 1em;
    letter-spacing: 10px;
    text-transform: uppercase;
  }
  /* line 268, ../sass/_desktop.scss */
  .view-homepage-slider .view-content #views_slideshow_cycle_main_homepage_slider-block .views-field-field-subtitle {
    position: absolute;
    color: white;
    text-align: center;
    top: 40%;
    width: 100%;
    font-size: 12px;
  }
  /* line 276, ../sass/_desktop.scss */
  .view-homepage-slider .view-content #views_slideshow_cycle_main_homepage_slider-block .views-field.views-field-nothing {
    position: absolute;
    width: 100%;
    z-index: 5;
    text-align: center;
    bottom: 10%;
  }
  /* line 282, ../sass/_desktop.scss */
  .view-homepage-slider .view-content #views_slideshow_cycle_main_homepage_slider-block .views-field.views-field-nothing span.field-content {
    border-style: solid;
    padding: 0px 5px 2px 5px;
    border-width: 2px;
    border-color: white;
    background-color: rgba(0, 0, 0, 0.502);
    text-align: center;
  }
  /* line 289, ../sass/_desktop.scss */
  .view-homepage-slider .view-content #views_slideshow_cycle_main_homepage_slider-block .views-field.views-field-nothing span.field-content a {
    font-size: 8px;
    line-height: 1.429;
    text-align: justifyLeft;
  }
}

/* line 302, ../sass/_desktop.scss */
#main-wrapper #main div#content {
  margin-right: auto;
  margin-left: auto;
}
/* line 307, ../sass/_desktop.scss */
#main-wrapper #main div#content .section .region-content div#block-block-1 {
  padding-top: 145px;
  padding-bottom: 145px;
  height: 80px;
  background-color: white;
  margin: 0px;
}
/* line 314, ../sass/_desktop.scss */
#main-wrapper #main div#content .section .region-content div#block-block-1 .content div#homepage-first-block-title {
  float: left;
  width: 35%;
  margin-left: 100px;
  word-spacing: 3px;
  font-size: 24px;
  color: #252525;
  line-height: 1.5;
}
/* line 324, ../sass/_desktop.scss */
#main-wrapper #main div#content .section .region-content div#block-block-1 .content div#homepage-first-block-text {
  float: right;
  width: 44%;
  margin-right: 55px;
  font-size: 14px;
  color: black;
  line-height: 1.429;
}
@media (max-width: 445px) {
  /* line 307, ../sass/_desktop.scss */
  #main-wrapper #main div#content .section .region-content div#block-block-1 {
    height: auto;
    background-color: white;
    padding: 100px 20px 50px 20px;
  }
  /* line 347, ../sass/_desktop.scss */
  #main-wrapper #main div#content .section .region-content div#block-block-1 .content div#homepage-first-block-title {
    float: none;
    width: 100%;
    padding: 10px;
    word-spacing: 3px;
    font-size: 15px;
    margin-left: 0px;
    color: #252525;
    line-height: 1.5;
  }
  /* line 357, ../sass/_desktop.scss */
  #main-wrapper #main div#content .section .region-content div#block-block-1 .content div#homepage-first-block-text {
    float: none;
    width: 100%;
    margin-right: 0px;
    font-size: 14px;
    padding: 10px;
    color: black;
    line-height: 1.429;
  }
}

/* line 373, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view {
  margin: 0 auto;
}
/* line 375, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles {
  margin: 0 auto;
}
/* line 377, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles .view-header {
  padding-top: 152px;
  padding-bottom: 109px;
  text-align: center;
}
/* line 381, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles .view-header p {
  font-size: 24px;
  color: #252525;
  line-height: 0.708;
}
/* line 386, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles .view-header p span {
  color: #252525;
  font-weight: 700;
}
/* line 392, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row {
  position: relative;
}
/* line 394, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row .views-field-nothing {
  background-image: -moz-linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0.5) 57%, transparent 100%);
  background-image: -webkit-linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0.5) 57%, transparent 100%);
  background-image: -ms-linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0.5) 57%, transparent 100%);
  opacity: 0.502;
  position: absolute;
  left: 0px;
  top: 190px;
  width: 100%;
  height: 110px;
  z-index: 96;
}
/* line 406, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row span.field-content {
  font-size: 19.205px;
  font-family: "OpenSans";
  color: white;
  -moz-transform: matrix(0.93683, 0, 0, 0.93727, 0, 0);
  -webkit-transform: matrix(0.93683, 0, 0, 0.93727, 0, 0);
  -ms-transform: matrix(0.93683, 0, 0, 0.93727, 0, 0);
  position: absolute;
  left: 35px;
  bottom: 30px;
  z-index: 97;
}
/* line 418, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row .views-field.views-field-field-likes {
  position: absolute;
  top: 20px;
  right: 20px;
}
/* line 422, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row .views-field.views-field-field-likes .field-content {
  border-style: solid;
  padding: 10px 40px 10px 15px;
  border-width: 2px;
  color: white;
  border-color: white;
  background-color: rgba(0, 0, 0, 0.502);
  text-align: center;
}
/* line 430, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row .views-field.views-field-field-likes .field-content:after {
  content: url("/sites/all/themes/blackandwhite/images/like-heart.png");
  position: absolute;
  right: 15px;
  top: 15px;
}
/* line 438, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row .views-field-field-image img {
  width: 100%;
  height: 300px;
}
/* line 442, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row.views-row-odd.views-row-first {
  float: left;
  width: 770px;
  height: 300px;
}
/* line 446, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row.views-row-odd.views-row-first .views-field-created,
div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row.views-row-odd.views-row-first .views-field-body {
  display: none;
}
/* line 451, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row.views-row-2.views-row-even {
  float: right;
  width: 370px;
  height: 300px;
}
/* line 455, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row.views-row-2.views-row-even .views-field-created,
div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row.views-row-2.views-row-even .views-field-body {
  display: none;
}
/* line 460, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row.views-row-3.views-row-odd {
  float: left;
  width: 370px;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 90px;
}
/* line 466, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row.views-row-3.views-row-odd .views-field.views-field-field-image {
  position: absolute;
  z-index: -5;
}
/* line 469, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row.views-row-3.views-row-odd .views-field.views-field-field-image .field-content {
  position: relative;
}
/* line 471, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row.views-row-3.views-row-odd .views-field.views-field-field-image .field-content img {
  width: 100%;
  height: 300px;
  width: 100%;
  vertical-align: top;
}
/* line 477, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row.views-row-3.views-row-odd .views-field.views-field-field-image .field-content:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.7;
  transition: all 1s;
  -webkit-transition: all 1s;
}
/* line 491, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row.views-row-3.views-row-odd .views-field.views-field-body {
  width: 100%;
  text-align: center;
  top: 53px;
  position: relative;
  color: white;
  padding-bottom: 25px;
}
/* line 498, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row.views-row-3.views-row-odd .views-field.views-field-body .field-content {
  font-size: 14px;
  color: white;
  line-height: 1.214;
  text-align: center;
  margin-top: 15px;
}
/* line 505, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row.views-row-3.views-row-odd .views-field.views-field-body:before {
  content: url("/sites/all/themes/blackandwhite/images/profile.png");
}
/* line 509, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row.views-row-3.views-row-odd .views-field-created {
  position: absolute;
  width: 100%;
  height: 68px;
  bottom: 0px;
  border-top: 2px solid gray;
}
/* line 515, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row.views-row-3.views-row-odd .views-field-created .field-content {
  font-size: 14px;
  color: white;
  line-height: 1.214;
  text-align: center;
  margin-top: 15px;
}
/* line 523, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row.views-row-3.views-row-odd .views-field.views-field-nothing {
  display: none;
}
/* line 527, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row.views-row-4.views-row-even.views-row-last {
  float: right;
  width: 770px;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 90px;
}
/* line 533, ../sass/_desktop.scss */
div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row.views-row-4.views-row-even.views-row-last .views-field-created,
div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row.views-row-4.views-row-even.views-row-last .views-field-body {
  display: none;
}
@media (min-width: 1024px) {
  /* line 375, ../sass/_desktop.scss */
  div.homepage-featured-articles-block-view .view-homepage-featured-articles {
    width: 1170px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 375, ../sass/_desktop.scss */
  div.homepage-featured-articles-block-view .view-homepage-featured-articles {
    width: 740px;
  }
}
@media (min-width: 445px) and (max-width: 624px) {
  /* line 375, ../sass/_desktop.scss */
  div.homepage-featured-articles-block-view .view-homepage-featured-articles {
    width: 540px;
  }
}
@media (max-width: 445px) {
  /* line 375, ../sass/_desktop.scss */
  div.homepage-featured-articles-block-view .view-homepage-featured-articles {
    width: 380px;
  }
  /* line 551, ../sass/_desktop.scss */
  div.homepage-featured-articles-block-view .view-homepage-featured-articles .view-header {
    padding-top: 100px;
    padding-bottom: 70px;
    text-align: center;
  }
  /* line 556, ../sass/_desktop.scss */
  div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row.views-row-odd.views-row-first {
    float: none;
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
  }
  /* line 562, ../sass/_desktop.scss */
  div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row.views-row-2.views-row-even {
    float: none;
    width: 100%;
    height: 300px;
  }
  /* line 567, ../sass/_desktop.scss */
  div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row.views-row-3.views-row-odd {
    float: none;
    width: 100%;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  /* line 573, ../sass/_desktop.scss */
  div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row.views-row-3.views-row-odd .views-field.views-field-body {
    width: 100%;
    text-align: center;
    top: 53px;
    position: absolute;
    color: white;
    padding-bottom: 25px;
  }
  /* line 581, ../sass/_desktop.scss */
  div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row.views-row-3.views-row-odd .views-field.views-field-field-image {
    position: relative;
    z-index: -5;
  }
  /* line 586, ../sass/_desktop.scss */
  div.homepage-featured-articles-block-view .view-homepage-featured-articles .views-row.views-row-4.views-row-even.views-row-last {
    float: none;
    width: 100%;
    height: 300px;
    margin-top: 0px;
    margin-bottom: 50px;
  }
}

/* line 598, ../sass/_desktop.scss */
div#block-blackandwhite-core-home-page-news-block {
  position: relative;
  clear: both;
  background-color: white;
  padding-left: 0px;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-bottom: 0px;
}
/* line 608, ../sass/_desktop.scss */
div#block-blackandwhite-core-home-page-news-block .content #blackandwhite-core-form div.form-item {
  display: inline-block;
  margin: 0px;
}
/* line 611, ../sass/_desktop.scss */
div#block-blackandwhite-core-home-page-news-block .content #blackandwhite-core-form div.form-item input#edit-mail {
  width: 430px;
  padding-top: 25px;
  padding-left: 30px;
  padding: 25px 0px 25px 30px;
  font-size: 14px;
  color: black;
  line-height: 1.429;
  text-align: left;
}
/* line 622, ../sass/_desktop.scss */
div#block-blackandwhite-core-home-page-news-block .content #blackandwhite-core-form #edit-first-description {
  margin-right: 55px;
}
/* line 624, ../sass/_desktop.scss */
div#block-blackandwhite-core-home-page-news-block .content #blackandwhite-core-form #edit-first-description .newsletter-description {
  font-size: 24px;
  color: #252525;
  line-height: 0.708;
}
/* line 628, ../sass/_desktop.scss */
div#block-blackandwhite-core-home-page-news-block .content #blackandwhite-core-form #edit-first-description .newsletter-description span {
  font-weight: bold;
}
/* line 633, ../sass/_desktop.scss */
div#block-blackandwhite-core-home-page-news-block .content #blackandwhite-core-form input#edit-submit {
  background-color: #343638;
  font-size: 14px;
  color: white;
  line-height: 1.429;
  text-align: left;
  padding: 23px 53px 23px 53px;
}
@media (min-width: 1024px) {
  /* line 598, ../sass/_desktop.scss */
  div#block-blackandwhite-core-home-page-news-block {
    width: 1170px;
    margin: 0 auto;
  }
  /* line 646, ../sass/_desktop.scss */
  div#block-blackandwhite-core-home-page-news-block form#blackandwhite-core-form {
    margin: 0 auto;
    width: 90%;
  }
  /* line 649, ../sass/_desktop.scss */
  div#block-blackandwhite-core-home-page-news-block form#blackandwhite-core-form .content #blackandwhite-core-form div.form-item input#edit-mail {
    width: 380px;
    padding-top: 25px;
    padding-left: 30px;
    padding: 25px 0px 25px 30px;
    font-size: 14px;
    color: black;
    line-height: 1.429;
    text-align: left;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 598, ../sass/_desktop.scss */
  div#block-blackandwhite-core-home-page-news-block {
    width: 740px;
  }
}
@media (min-width: 445px) and (max-width: 624px) {
  /* line 598, ../sass/_desktop.scss */
  div#block-blackandwhite-core-home-page-news-block {
    width: 540px;
  }
}
@media (max-width: 445px) {
  /* line 598, ../sass/_desktop.scss */
  div#block-blackandwhite-core-home-page-news-block {
    width: 380px;
    margin-top: 0px;
    position: relative;
    clear: both;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0px;
  }
  /* line 679, ../sass/_desktop.scss */
  div#block-blackandwhite-core-home-page-news-block .content #blackandwhite-core-form div.form-item {
    display: block;
    position: relative;
  }
  /* line 682, ../sass/_desktop.scss */
  div#block-blackandwhite-core-home-page-news-block .content #blackandwhite-core-form div.form-item input#edit-mail {
    width: 93%;
    padding: 25px 0px 25px 30px;
    font-size: 14px;
    color: black;
    text-align: center;
    position: relative;
    display: block;
  }
  /* line 692, ../sass/_desktop.scss */
  div#block-blackandwhite-core-home-page-news-block .content #blackandwhite-core-form #edit-first-description {
    margin-right: 0px;
    margin-bottom: 50px;
    text-align: center;
  }
  /* line 697, ../sass/_desktop.scss */
  div#block-blackandwhite-core-home-page-news-block .content #blackandwhite-core-form input#edit-submit {
    background-color: #343638;
    font-size: 14px;
    color: white;
    line-height: 1.429;
    text-align: center;
    padding: 23px 53px 23px 53px;
    width: 100%;
    margin-top: 20px;
  }
}

/* line 713, ../sass/_desktop.scss */
div#footer {
  background-color: white;
}
/* line 715, ../sass/_desktop.scss */
div#footer .region.region-footer {
  position: relative;
}
/* line 719, ../sass/_desktop.scss */
div#footer .section {
  margin: 0 auto;
  margin-top: 180px;
  background-color: white;
}
@media (min-width: 1024px) {
  /* line 719, ../sass/_desktop.scss */
  div#footer .section {
    width: 1170px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 719, ../sass/_desktop.scss */
  div#footer .section {
    width: 740px;
  }
}
@media (min-width: 445px) and (max-width: 624px) {
  /* line 719, ../sass/_desktop.scss */
  div#footer .section {
    width: 540px;
  }
}
@media (max-width: 445px) {
  /* line 719, ../sass/_desktop.scss */
  div#footer .section {
    width: 380px;
    margin-top: 0px;
  }
}
/* line 738, ../sass/_desktop.scss */
div#footer .footer-information-blocks {
  padding-top: 145px;
  height: 200px;
  border-bottom: 1px solid #f0f0f0;
  width: 75%;
  float: left;
  padding-bottom: 130px;
}
/* line 746, ../sass/_desktop.scss */
div#footer .footer-information-blocks .content div {
  float: left;
  width: 185px;
  padding-right: 15px;
}
/* line 750, ../sass/_desktop.scss */
div#footer .footer-information-blocks .content div p {
  margin: 0px;
  font-size: 14px;
  color: #9e9e9e;
  line-height: 1.549;
  text-align: left;
}
/* line 758, ../sass/_desktop.scss */
div#footer .footer-information-blocks .content div p.blocks-title {
  font-size: 22px;
  color: black;
  text-align: left;
  margin: 0;
  text-align: left;
  margin-bottom: 30px;
}
/* line 766, ../sass/_desktop.scss */
div#footer .footer-information-blocks .content div#blackandwhite-chunk {
  margin-right: 100px;
}
/* line 769, ../sass/_desktop.scss */
div#footer .footer-information-blocks .content div#contact-chunk {
  margin-right: 100px;
}
/* line 771, ../sass/_desktop.scss */
div#footer .footer-information-blocks .content div#contact-chunk a {
  color: #9e9e9e;
}
@media (max-width: 445px) {
  /* line 738, ../sass/_desktop.scss */
  div#footer .footer-information-blocks {
    padding-top: 50px;
    height: auto;
    border-bottom: 1px solid #f0f0f0;
    width: 100%;
    float: none;
    padding-bottom: 50px;
  }
  /* line 793, ../sass/_desktop.scss */
  div#footer .footer-information-blocks .content div {
    float: none;
    width: 100%;
    padding-right: 15px;
    margin-bottom: 50px;
  }
  /* line 798, ../sass/_desktop.scss */
  div#footer .footer-information-blocks .content div p.blocks-title {
    text-align: center;
  }
}
/* line 805, ../sass/_desktop.scss */
div#footer #block-blackandwhite-core-home-page-news-mini-block {
  width: 25%;
  float: right;
  padding-top: 145px;
  height: 200px;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 130px;
}
/* line 813, ../sass/_desktop.scss */
div#footer #block-blackandwhite-core-home-page-news-mini-block .content #edit-first-description--2 {
  margin: 0px;
}
/* line 815, ../sass/_desktop.scss */
div#footer #block-blackandwhite-core-home-page-news-mini-block .content #edit-first-description--2 .newsletter-description {
  margin: 0px;
  font-size: 14px;
  color: #9e9e9e;
  line-height: 1.549;
  text-align: left;
}
/* line 822, ../sass/_desktop.scss */
div#footer #block-blackandwhite-core-home-page-news-mini-block .content #edit-first-description--2 .newsletter-description span {
  font-size: 22px;
  color: black;
  text-align: left;
  margin: 0;
  text-align: left;
  margin-bottom: 30px;
  display: block;
}
/* line 833, ../sass/_desktop.scss */
div#footer #block-blackandwhite-core-home-page-news-mini-block .content .form-item.form-type-textfield.form-item-ea {
  margin-top: 30px;
  width: 170px;
}
/* line 837, ../sass/_desktop.scss */
div#footer #block-blackandwhite-core-home-page-news-mini-block .content div.form-item {
  display: inline-block;
  margin: 0px;
}
/* line 840, ../sass/_desktop.scss */
div#footer #block-blackandwhite-core-home-page-news-mini-block .content div.form-item input#edit-mail {
  background-color: #f3f3f3;
  width: 170px;
  height: 50px;
  padding: 0px 0px 0px 20px;
  line-height: 1.429;
  font-size: 14px;
  color: #9e9e9e;
  font-style: italic;
  text-align: left;
}
/* line 852, ../sass/_desktop.scss */
div#footer #block-blackandwhite-core-home-page-news-mini-block .content #edit-first-description {
  margin-right: 55px;
}
/* line 854, ../sass/_desktop.scss */
div#footer #block-blackandwhite-core-home-page-news-mini-block .content #edit-first-description .newsletter-description {
  font-size: 24px;
  color: #252525;
  line-height: 0.708;
}
/* line 858, ../sass/_desktop.scss */
div#footer #block-blackandwhite-core-home-page-news-mini-block .content #edit-first-description .newsletter-description span {
  font-weight: bold;
  display: block;
}
/* line 864, ../sass/_desktop.scss */
div#footer #block-blackandwhite-core-home-page-news-mini-block .content input#edit-submit--2 {
  background-color: #343638;
  font-size: 14px;
  color: white;
  width: 100px;
  height: 60px;
  text-align: left;
  padding: 17px;
  float: right;
  margin-top: 27px;
  -moz-transform: matrix(0.92233, 0, 0, 0.92238, 0, 0);
  -webkit-transform: matrix(0.92233, 0, 0, 0.92238, 0, 0);
  -ms-transform: matrix(0.92233, 0, 0, 0.92238, 0, 0);
}
@media (max-width: 445px) {
  /* line 805, ../sass/_desktop.scss */
  div#footer #block-blackandwhite-core-home-page-news-mini-block {
    width: 100%;
    margin: 0 auto;
    float: none;
    padding-top: 50px;
    height: auto;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 50px;
  }
}
/* line 899, ../sass/_desktop.scss */
div#footer div.footer-copy-rights {
  position: absolute;
  float: left;
  bottom: 5px;
}
@media (max-width: 445px) {
  /* line 899, ../sass/_desktop.scss */
  div#footer div.footer-copy-rights {
    display: none;
  }
}
/* line 917, ../sass/_desktop.scss */
div#footer div#block-nice-menus-2 {
  clear: both;
  height: 80px;
}
/* line 921, ../sass/_desktop.scss */
div#footer div#block-nice-menus-2 .content ul#nice-menu-2 {
  float: right;
}
/* line 923, ../sass/_desktop.scss */
div#footer div#block-nice-menus-2 .content ul#nice-menu-2 li {
  background-color: transparent;
  border: 0;
}
/* line 926, ../sass/_desktop.scss */
div#footer div#block-nice-menus-2 .content ul#nice-menu-2 li a {
  padding: 30px 0px 0px 30px;
  color: black;
}
@media (max-width: 445px) {
  /* line 945, ../sass/_desktop.scss */
  div#footer .content ul#nice-menu-2 {
    float: none;
  }
}

/* line 1, ../sass/_blackandwhite_core.scss */
.page-featured-article-sorting .view.view-homepage-featured-articles.view-id-homepage_featured_articles {
  background: gray;
  padding: 20px;
  color: white;
}
